<footer class="page-footer font-small bg-info pt-4">

    <div class="contatiner">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Me Siga Nas Redes Sociais</h4>

            </div>
        </div>
        <!-- icone das redes sociais -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="minhas-redes">
                    <li>
                        <a href="https://github.com/AlysonRodrigo" target="_blamck" class="icogit">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alyson-rodrigo/" target="_blamck" class="icolinked">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alysonrodrigo14/" target="_blamck" class="icoinsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>