<div class="container-fluid pl-0">
    <div class="row">
        <div class="col-12">
            <img src="https://i.imgur.com/fLVjugV.jpg" class="bg-img" alt="">
        </div>
    </div>
</div>

<div class="container mt-5 mb-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <h3 class="title-parceiros">Nossos Parceiros</h3>
            <p class="text-parceiros mt-4">“Seja um parceiro e construa junto com a gente um mundo melhor!"</p>
        </div>

        <div class="col-4">
            <p class="text-parceiros">Sabemos que o planeta terra tem passado por momentos difíceis. Enchentes, falta de
                chuvas, queimadas de hectares inteiros, calores intensos, falta de água e diversas outras consequências
                que nós mesmos estamos causando. Poucas são as empresas interessadas em diminuir os riscos que podem
                trazer a humanidade. Governos trabalham para o seu próprio lucro deixando a sociedade respirar poluição.
            </p>
        </div>

        <div class="col-4">
            <p class="text-parceiros"> Ou seja, a mudança climática é um evento transnacional, cujos impactos estão
                desregulando economias nacionais e afetando pessoas em todos os lugares, principalmente aquelas em
                situação de maior vulnerabilidade nos países em desenvolvimento. Por isso precisamos que essa luta seja
                em conjunto. Entre em contato conosco e vamos fazer uma parceria!
            </p>
        </div>
    </div>

    <div class="row mt-5 align-items-center">
        <div class="col-6 d-flex justify-content-center">
            <a href="https://www.greenpeace.org/brasil/" title="SAIBA MAIS SOBRE O GREENPEACE" target="_blank"><img
                    src="https://i.imgur.com/YTyBObj.png" class="img-parceiros"
                    alt="Foto do logotipo da Greenpeace"></a>
        </div>

        <div class="col-6">

            <h3 class="title-gren">Greenpeace</h3>
            <p class="text-parceiros">O Greenpeace existe porque nosso planeta precisa de quem o defenda e nós
                precisamos de você.
                Algumas pessoas olham para uma floresta e enxergam apenas lucro, mas há outras milhares que vêem
                uma casa, uma sabedoria, um futuro. Em todo o mundo, defendemos o meio ambiente e as comunidades que
                dependem de seus recursos, responsabilizando governos e corporações que os ameaçam.</p>
            <div>
                <a href="https://www.greenpeace.org/brasil/" class="myButton" target="_blank">Saiba Mais</a>
            </div>
        </div>

    </div>

    <div class="row mt-5 align-items-center">

        <div class="col-6">
            <h3 class="title-gren">ONU</h3>
            <p class="text-parceiros">As Nações Unidas têm representação fixa no Brasil desde 1947. A presença da ONU em
                cada país varia de acordo com as demandas apresentadas pelos respectivos governos ante a Organização. No
                Brasil, o Sistema das Nações Unidas está representado por agências especializadas, fundos e programas
                que desenvolvem suas atividades em função de seus mandatos específicos.</p>
            <div>
                <a href="https://brasil.un.org/" class="myButton" target="_blank">Saiba Mais</a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <a href="https://brasil.un.org/" title="SAIBA MAIS SOBRE O GREENPEACE" target="_blank"><img
                    src="https://i.imgur.com/vZAcKi7.png" class="img-parceiros" alt="Foto do logotipo da ONU"></a>
        </div>
    </div>


</div>

<!--PROJETOS DA TURMA 29-->
<div class="container-fluid bg-projects">
    <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/LulmsUq.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Climatika</h5>
                    <p class="card-text">"Um e-commerce empenhado em reduzir impactos ambientais e sociais de consumo
                        com produtos ecológicos e parcerias com pequenos empreendedores".</p>
                    <div>
                        <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/1hoIq5O.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gaia</h5>
                    <p class="card-text">"Um projeto de e-commerce com a ideia de trazer a dinâmica da ecologia para o
                        cliente, e também oferecer créditos bônus para compras com nossos parceiros".</p>
                    <div>
                        <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/cwcNCeW.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">eco.Book</h5>
                    <p class="card-text">"Acreditamos que um dos caminhos para o desenvolvimento sustentável é a educação.
                        Incentivamos a leitura com consumo consciente".</p>
                    <div>
                        <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;" >
                <a href="https://ecstatic-boyd-bb466c.netlify.app/" target="_blank">
                    <img src="https://i.imgur.com/1C19ozb.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Baependi</h5>
                    <p class="card-text">"Temos uma visão holística do meio ambiente, voltado a comercialização de
                        produtos reciclados, com destaque a artigos feitos á mão."</p>
                    <div>
                        <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 mr-4">
            <div class="card card-color" style="width: 14rem;">
                <img src="https://i.imgur.com/62A2BQl.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ecous</h5>
                    <p class="card-text">"Acreditamos que outro viver é possível. Num viver sustentável. Num mundo onde
                        o dar e receber sejam recíprocos. Acreditamos em cuidar de tudo à nossa volta".</p>
                    <div>
                        <a href="#" class="myButton" target="_blank">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>