#img-bg{
    background-image: url("https://lh3.googleusercontent.com/9Myd3TL-8-hJu4QH1wqZV6Cygl0Olnh80dlqMCiiRm0pXmchauu8hKi_JOJUTFdcUX9bmLQZDRXwx-8wTHHo6czdEGAvPrmyUPMlCpbN8uQTqmm7kNEzxydjdV7wxCtjHG1fhpjo-AjicDewzKrrB5OW4ki_WTuN6HOtsJeDlwY4q9mV5AB_poLfiuj4Q9dAiGvJ9sAFALtZ8flfqhLWfrQHNMMDTWFRO-4o9FJ7_SftfJ5Hmlc25jmyEVdfvDoNdMyW57XISKD0kvJNIxV_4uOrK1EzPtCNv92aGM1Pr_06VQnBhmLOiEsocdoIK37r8uW1JrEbgfrJ4hG88wO6cZNXWclKvnEvRpnBbR0p_G8y5TSZ-QkK5WQakdwMVD3J0w6TLTBEx3qhImzlsWn27F5iNRtKiANvSV3hK9Q8UznJbvJAK5n9Q-BIinTeddrN5zUvu95ZnwWudLFaTibLRX57FVpuFMMZNg4FBWj5JVHUm8CQRP6GBtjAm1ASrnZcLLJCeSX5B07dGZzlpileXqzcUvbnZbgPdJUP3Q1Og2av9DzMPQ8qkTjm1h50UIjgWdTvUhryeMeF9v3R4dfJYLX-FOf2gPZmOHBgZK9WB_ySP868LSKER1IQGXk74xjC-1k0HGiPXo4-gPAkkEgeKESwl_LMr7TMSBtIFunO66AVNtlLDyjKnCF88G6U_70A9iqJL8QwmcFK30fXYTLX-AU8=w410-h643-no?authuser=0");

    min-height: 643px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}