<footer class="page-footer font-small pt-4 ">
    <div class="container">

        <div class="row">

            <div class="col-md-8 text-white">
                <div class="col-md-6 text-white px-0">
                    <div>
                        <h4>Action For Life</h4>
                        <p class="text-wrap">Loja de produtos e iniciativas sustentáveis, com base na ODS-13, apoiando a
                            Agenda 2030 da ONU (Organização das Nações Unidas).
                        </p>
                    </div>
    
                    <ul class="social-network">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="icoFacebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                

            </div>
            <div class="col-md-4 text-white">
                <div class="d-flex flex-wrap justify-content-between">
                    <h2>Formas de Pagamento</h2>
                    <p>Cartão de Crédito e Débito | Pix e Boleto</p>
                        <div class="d-flex mt-1">
                            <i class="fa fa-credit-card color-white" aria-hidden="true"></i>
                            <i class="fa fa-barcode color-white" aria-hidden="true"></i>
                            <i class="fa fa-qrcode color-white" aria-hidden="true"></i>
                            <i class="fa fa-money color-white" aria-hidden="true"></i>
                        </div>
                    
                    
                </div>
            </div>

        </div>
    </div>


    <div class="footer-copyright background-do-copy text-center py-3">
        <span class="cor-text">© Termos de uso e política de privacidade | Action For Life</span>
    </div>

</footer>