<div class="container-fluid">
    <h1 class="font-weight-bold text-center mb-1 color-green">Entre em Contato </h1>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-4 d-flex flex-column align-items-center">
            <div>
                <h3>E-mail</h3>
                <p>Entre em contato conosco através do e-mail actionforlife@gmail.com</p>
            </div>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form>
                <div>
                    <div class="form-group mt-2">
                        <label for="exampleFormControlInput1">Nome</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Endereço de email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="nome@exemplo.com">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Assunto</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensagem</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        <div class=" text-right align-content-end">
                            <a class="btn myButton mt-4" (click)="sendFake()">Enviar</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-5">

        <div class="text-center  col-md-12">
            <p class="font-weight-bold h1 color-green">Entre em contato com os criadores</p>
        </div>

        <div class="col-md-2">
            <div class="card text-center mt-3 bg-card">
                <img class="card-img-top" src=".../../../../assets/img/alyson.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="mb-0">Olá, sou o </h5>
                    <h5>Alyson</h5>
                    <p>Minhas Redes Sociais.</p>
                    <div>

                        <ul class="social-network">

                            <li>
                                <a href="https://www.linkedin.com/in/alyson-rodrigo/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>

                                <a href="https://github.com/AlysonRodrigo" target="_blank" class="icoInstagram">
                                    <i class="fa fa-github" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-2">

            <div class="card text-center mt-3  bg-card">
                <img class="card-img-top" src=".../../../../assets/img/charles.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="mb-0">Olá, sou o </h5>
                    <h5>Charles</h5>
                    <p>Minhas Redes Sociais.</p>
                    <div>

                        <ul class="social-network">

                            <li>
                                <a href="https://www.linkedin.com/in/charlesroberto/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>

                                <a href="https://github.com/chaaarlees5" target="_blank" class="icoInstagram">
                                    <i class="fa fa-github" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-2">
            <div class="card text-center mt-3  bg-card">
                <img class="card-img-top" src=".../../../../assets/img/dayane.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="mb-0">Olá, sou a </h5>
                    <h5>Dayanne</h5>
                    <p>Minhas Redes Sociais.</p>
                    <div>

                        <ul class="social-network">

                            <li>
                                <a href="https://www.linkedin.com/in/dayanne-chaves/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>

                                <a href="https://github.com/evelyncarolina" target="_blank" class="icoInstagram">
                                    <i class="fa fa-github" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center mt-3  bg-card">
                <img class="card-img-top" src=".../../../../assets/img/evelyn.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="mb-0">Olá, sou a </h5>
                    <h5>Evelyn</h5>
                    <p>Minhas Redes Sociais.</p>
                    <div>

                        <ul class="social-network">

                            <li>
                                <a href="https://www.linkedin.com/in/evelyn-carolina/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>

                                <a href="https://github.com/evelyncarolina" target="_blank" class="icoInstagram">
                                    <i class="fa fa-github" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-2">
            <div class="card text-center mt-3 bg-card">
                <img class="card-img-top" src=".../../../../assets/img/guilherme.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="mb-0">Olá, sou o </h5>
                    <h5>Guilherme</h5>
                    <p>Minhas Redes Sociais.</p>
                    <div>

                        <ul class="social-network">

                            <li>
                                <a href="https://www.linkedin.com/in/guilherme-macedo-cruz/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>

                                <a href="https://github.com/Guimti" target="_blank" class="icoInstagram">
                                    <i class="fa fa-github" aria-hidden="true"></i>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>