<div class="container px-0 bg-degrade">
    <!--VISÃO GERAL-->
    <div class="row">
        <div class="col-md-12 mt-2">
            <h1 class="text-center md-3 cor-text"><img src="https://i.imgur.com/saNzsxi.png" class="tm-logo img-fluid"
                    alt="Logo"> <strong>Action For Life</strong> </h1>
            <p class="text-center mar-action">A ideia da Action For Life é criar um e-commerce que vai além de uma
                plataforma de vendas. Aqui você encontrará produtos de qualidade, onde será cobrado apenas um valor
                simbólico.
            </p>
        </div>
    </div>

    <!--VISÃO-->
    <div class="row mt-about bg-sobre d-flex align-items-center pl-4">
        <div class="col-sm-5">
            <h2 class="title-sobre">Sobre</h2>
            <p class="color-text-sobre">Somos um e-commerce voltado para a venda de produtos naturais ou de materiais
                recicláveis.
                Além dos nossos produtos de baixo custo, também oferemos produtos gratuitos com o intuito de garantir
                uma vida melhor no futuro.
                Nossas iniciativas foram criadas para combater as mudanças climáticas e consequentemente reduzir a
                desigualdade dentro do país, visando alcançar o crescimento de renda da
                população mais pobre do Brasil.
            </p>
        </div>

        <div class="col-md-3 ol-md-4 ml-auto">
            <img src="https://i.imgur.com/dKHqVNb.jpg" class="img-about" alt="">
        </div>
    </div>

    <!--MISSÃO-->
    <div class="row mt-5 bg-sobre-2 d-flex align-items-center">
        <div class="col-md-6">
            <img src="https://i.imgur.com/dKHqVNb.jpg" class="img-about-2" alt="">
        </div>

        <div class="col-6">
            <h2 class="title-sobre-2">Missão</h2>
            <p class="color-text-sobre mr-5">Temos como missão a criação de iniciativas que apoiam o tratado da ONU
                (Organização das Nações Unidas). A Agenda 2030 é um plano de ação para as pessoas, o planeta e a
                prosperidade, buscando fortalecer a paz universal.
                O nosso e-commerce tem o objetivo de dar apoio a ODS-13 (Objetivo de Desenvolvimento Sustentável 13), ou
                seja, apoiar a Ação contra a mudança global do clima, que tem como
                objetivo adotar medidas urgentes para combater as alterações climáticas e os seus impactos.
            </p>
        </div>
    </div>

    <!--VISÃO-->
    <div class="row mt-5 bg-sobre-3 d-flex align-items-center">

        <div class="col-6">
            <h2 class="title-sobre-2 ml-3 ">Visão</h2>
            <p class="color-text-valores mr-5 ml-3 ">A responsabilidade da Action For Life é trabalhar para um mundo
                melhor através de nossos produtos e iniciativas. Colocamos nossa visão em prática com atividades e
                iniciativas que beneficiam a nossa sociedade e o planeta como um todo. Almejamos também levar
                educação ambiental, enfatizando que todos nós temos nosso papel no mundo e com isso causar consequências
                a vida na terra.</p>
        </div>

        <div class="col-md-6">
            <img src="https://i.imgur.com/dKHqVNb.jpg" class="img-about-2 ml-5" alt="">
        </div>

    </div>
</div>

<!--VALORES DA EMPRESA-->
<div class="container-fluid bg-container-2 mt-3 mb-5 pb-3">
    <h3 class="text-center pt-3 pb-2 title-sobre">Valores</h3>
    <div class="row text-center justify-content-center">
        <div class="col-2 ml-4 mr-4">
            <img src="https://i.imgur.com/cFFlR7z.png" class="icon-1" alt="">
            <h4 class="mt-2">Igualdade</h4>
            <p>Lutamos e buscamos sempre a igualdade social. Queremos que todas as partes estejam nas mesmas
                condições.
            </p>
        </div>

        <div class="col-2 ml-4 mr-4">
            <img src="https://i.imgur.com/Msw9gS4.png" class="icon-1" alt="">
            <h4 class="mt-2">Sustentabilidade</h4>
            <p>Valorizamos ações em prol da natureza. Desde uma comunidade até todo o planeta.
            </p>
        </div>

        <div class="col-2 ml-4 mr-4">
            <img src="https://i.imgur.com/EV79Gen.png" class="icon-1" alt="">
            <h4 class="mt-2">Honestidade</h4>
            <p>Trabalhamos de maneira honesta, obedecendo incondicionalmente às regras morais e éticas existentes.</p>
        </div>

        <div class="col-2 ml-4 mr-4">
            <img src="https://i.imgur.com/SK7Bj8u.png" class="icon-1" alt="">
            <h4 class="mt-2">Transparência</h4>
            <p>Nossas iniciativas são claras e verdadeiras, sempre agindo com transparência, independente da situação.
            </p>
        </div>

    </div>
</div>


<div class="container">
    <h3 class="text-center mt-3 mb-4 title-sobre-2">Nossas Iniciativas</h3>

    <!--PLANTAS GRATUITAS-->
    <div class="row align-items-center">
        <div class="col-6">
            <img src="https://i.imgur.com/TXTB5a4.png" class="img-produtos" alt="">
        </div>

        <div class="col-6">
            <div class="bg-color-sust px-5 py-5">
                <h3>"Plantas Gratuitas"</h3>
                <p>Nossas plantas e sementes são gratuitas. Contamos com plantas para diferentes gostos e necessidades.
                    A nossa intenção é fazer com que todos repensem os seus hábitos perante a natureza.
                    Plantar é uma atividade relaxante e ajuda o oxigênio do planeta. Plante!
                </p>
            </div>

        </div>
    </div>

    <!--PRODUTOS SUSTENTAVEIS-->
    <div class="row align-items-center mt-5">
        <div class="col-6">
            <img src="https://i.imgur.com/ZkWOj4r.png" class="img-produtos" alt="">
        </div>

        <div class="col-6">
            <div class="bg-color-sust-2 px-5 py-5">
                <h3>"Produtos Sustentáveis"</h3>
                <p>Todos os produtos são feitos de forma sustentável, através da reciclagem de materiais. Esses produtos
                    são feitos por jovens da comunidade da Vila Prudente, localizada em São Paulo, garantindo assim uma
                    renda mensal à todos.
                </p>
            </div>

        </div>
    </div>

    <!--COMPRE UMA IDEIA-->
    <div class="row align-items-center mt-5 mb-5">
        <div class="col-6">
            <img src="https://i.imgur.com/FSj80qK.png" class="img-produtos" alt="">
        </div>

        <div class="col-6">
            <div class="bg-color-sust-3 px-5 py-5">
                <h3>"Compre uma Ideia"</h3>
                <p>O projeto Compre uma Ideia é uma iniciativa da Action For Life para restaurar áreas ameaçadas
                    pelo desmatamento. A pessoa que estiver interessada em combater o desmatamento pode comprar
                    suprimentos e contratar outras pessoas para solucionar os diversos problemas que o desmatamento pode trazer.
                </p>
            </div>

        </div>
    </div>

</div>