h1{
    color: #253F01;
    font-size: 38pt;
}
.cor-text{
    color: #253F01;
}
.myButton {
    background-color:#F2A922;
    border-radius:10px;
    border:1px solid #F2A922;
    display:inline-block;
    color:#FFFFFF;
    font-size: 12pt;
    padding:6px 14px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#D93D04;
}
.myButton:active {
    position:relative;
    top:1px;
}
.hov:hover{
    color: rgb(0, 85, 0);
}
.tm-logo{
    width: 50px;
    margin: 20px;
}
.margtop{
    margin-top: 100px;
}