<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Deletar Produto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja deletar esse produto?</h4>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="{{product.photo}}" class="card-img-top" alt="Foto do produto">
                <div class="card-body">
                    <h3 class="card-title">{{product.name}}</h3>
                    <h5>{{product.brand}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger mr-4" routerLink='/products'>Não</button>
            <button class="btn btn-success" (click)='delete()'>Sim</button>
        </div>
    </div>
</div>