.color-green {
    color: #253F01;
}

h1 {
    font-size: 3.3rem;
}

.size-action {
    font-size: 1.2rem;
}

.bgcolor-orange {
    background-color: #F2A922;
}

.w-img-iniciativas {
    width: 23rem;
    border-radius: 12px;
}
.w-img-iniciativas:hover {
    transform: scale(1.1, 1.1);
}


.bgcolor-green {
    background-color: #253F01;
}

.bgcolor-top {
    background-color: #ECF3D5;
}

.size-carousel {  
    width: 20rem;
}

.hover-img:hover{
    border: 3px solid #253f016e;
}

.border-radius {
    border-radius: 10px;
}

.size-multiple-carousel {
    max-height: 15rem;
}

.size-multiple-cards {
    max-height: 8rem;
    max-width: 8rem;
}

.font-size08 {
    font-size: 0.8rem;
}

.width35 {
    width: 35%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    border: 2px solid #253F01;
    background-color: #253F01 !important;
}

.height {
    height: 22rem;
}
.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0.801);
}


.styleLink{
    color: rgb(28, 83, 201);
}
